.app-wrapper{
  display: grid;

  grid-template-areas: 
    "header header"
    "body aside"
    "footer footer";

  grid-template-rows: 150px 1fr;
  grid-template-columns: 8fr 4fr;
  grid-gap: 10px;
}






